<%- include("partials/header"); -%> 


  <div class="container">
    <form method="post" action="/search/">
      
      <!-- <center> -->
    <div style=" width: 60%; margin: auto; display: flex;">
        <input id="search_opt" type="text" placeholder="search flats according to city" name="fltrcity" />
        <input id="search_opt" type="text" placeholder="search price range" name="price" />
      <input id="search_btn" type="submit" value="search" name="submit" style="width: 130px" />
    </div>
      <!-- </center> -->
      
    </form>
    <!-- <div class="container">
      <form method="post" action="/search/">
        
        <center>
      <div style=" width: 50%; margin: auto;">
          <input id="search_opt" type="text" placeholder="search flats according to city" name="fltrcity" />
          <input id="search_opt" type="text" placeholder="search price range" name="price" />
        <input id="search_btn" type="submit" value="search" name="submit" />
      </div>
        </center>
        
      </form> -->
    <ul>
      
    <script>
      function redirectToFlatDetails(flatId) {
    window.location.href = "/flats/" + flatId; // replace with the URL of your flat details page
  }
    </script>
    <p style="color:red; font-weight: 800;"><%=error%></p>
    <%if(x.length>0){%>
    <% for( let index = 0; index < x.length; index++ ) { %>
      
      <div class="wrapper">
        <div class="product-img">
          <img src="../uploads/<%=x[index].image[0]%>" alt="" height="300" width="327">

          <!-- <img src="../uploads/<%= x[index].image[0] %>" height="300" width="327" alt=""> -->
          
        </div>
        <div class="product-info">
          <div class="product-text">
            <h1><%= x[index].fcity %></h1>
            <h2><%= x[index].fname %></h2>
            <p>  <%= x[index].description %><br>
            <strong>Address:</strong> <%= x[index].floc %> 
            <!-- <br> <strong>Contact: </strong><%= x[index].fcontact %> <br> -->
            <!-- <strong>Availibility: </strong> <%= x[index].ftype %> <br> -->
             <!-- <strong>City: </strong><%= x[index].fcity %> <strong>  -->
              <!-- , State:</strong><%= x[index].fstate %> -->
               <!-- <br> <strong>Furnished: </strong> <%= x[index].furnish %>  -->
               <br><strong>Size</strong> <%= x[index].size %></p>
            <p></p>
          </div>
          <div class="product-price-btn">
            <p><span><%= x[index].fprice %></span>Rs.</p>
            <button type="button" onclick="redirectToFlatDetails('<%= x[index].id %>')">View Flat</button>
            <!-- <button type="button" >View Flat</button> -->
          </div>
        </div>
      </div>
    <% }}else{ %>
      <center><p style="color:red; font-weight: 800;">No Record Found</p></center> 
      <%}%>
  </div>
  

    
    
 <!-- 
    - #FOOTER
  -->
  <%- include("partials/footer"); -%> 