<%- include("partials/header"); -%> 
  <div class="container">
    <% x.forEach(element => { %>
      <div class="wrapper">
        <div class="product-img">
          <img src="https://media.istockphoto.com/id/1384642884/photo/the-evening-sun-is-reflected-in-the-modern-glass-facade-with-balconies.jpg?b=1&s=170667a&w=0&k=20&c=9cnDfc9tNIAcgvuGHZkST7CP-dFaNXutX8OpzVO1jEA=" height="450" width="327">
        </div>
        <div class="product-info">
          <div class="product-text">
            <h1><%= element.fcity %></h1>
            <h2><%= element.fname %></h2>
            <p>  <%= element.description %><br><strong>Address:</strong> <%= element.floc %> <br> <strong>Contact: </strong><%= element.fcontact %> <br><strong>Availibility: </strong> <%= element.ftype %> <br> <strong>City: </strong><%= element.fcity %> <strong> , State:</strong><%= element.fstate %> <br> <strong>Furnished: </strong> <%= element.furnish %> <br><strong>Size</strong> <%= element.size %></p>
            <p></p>
          </div>
          <div class="product-price-btn">
            <p><span><%= element.fprice %></span>$</p>
            <button type="button">View Flat</button>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
  

    
    
 <!-- 
    - #FOOTER
  -->
  <%- include("partials/footer"); -%> 