
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Abode - Find your dream house</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <!-- 
    - favicon
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="..//style.css">
  <link rel="stylesheet" href="./login.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gafata&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Gafata&family=Mochiy+Pop+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">
</head>

<body>

  <!-- 
    - #HEADER
  -->
  <section class="abode-nav">
       

        <div class="topnav" id="top">
          <% if(loginUser){ %>
            <a class="signup" href="/dashboard"><img width="40px" src="../images/man.png" alt=""></a>
            <% }else { %>
              <a class="signup" href="/login">Sign Up/Log In</a>
            <% } %>
           
          <a href="/#contact">Contact</a>
          <a href="/flats">Flats</a>
          <a href="/sell">Sell</a>
          <a href="/#service">Services</a>
          <a href="/#about">About</a>
          <a href="/">Home</a>

      <div>
        <a style="float: left; margin-left: 100px; font-weight: 700; font-family: 'Gafata', sans-serif;
font-family: 'Mochiy Pop One', sans-serif;" href="/">Abode</a>
      </div>
    </div>
  </section>
  
  <main>
    <article>
      <section class="hero" id="home" style="padding-top: 50px;">
        <div class="container">
          <div class="hero-content">

            <p class="hero-subtitle">
              <ion-icon name="home"></ion-icon>

              <span>Real Estate Agency</span>
            </p>
            <h2 class="h1 hero-title">
              Looking for an easy 
              <p>

              </p>
              way to buy and <p>

              </p> sell/rent flats?
            </h2>
           
            
          
            <h2 class="h1 hero-title">Abode is Here!!!</h2>

            <p class="hero-text">
             


            </p>
            <a href="#contact"><button class="btn-home">Contact Us</button></a>

          </div>

          <figure class="hero-banner">
            <img src="../images/2.png" alt="Modern house model" class="w-100">
          </figure>

        </div>
        
      </section>

      <!-- <iframe width="350" height="430" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/dffeb788-fba9-43f0-aafa-b12a7ea4218f"></iframe> -->



      <!-- 
        - #ABOUT
      -->
      <!-- <a href="" title="customer service icons">Customer service icons created by Freepik - Flaticon</a> -->
      <script type="text/javascript" src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="Abode"
  agent-id="dffeb788-fba9-43f0-aafa-b12a7ea4218f"
  language-code="en"
></df-messenger>
<br>
<br>
<!-- <div class="container"> -->

  <form method="post" action="/search/">
      
    <!-- <center> -->
  <div style=" width: 60%; margin: auto; display: flex;">
      <input id="search_opt" type="text" placeholder="search flats according to city" name="fltrcity" />
      <input id="search_opt" type="text" placeholder="search price range" name="price" />
    <input id="search_btn" type="submit" value="search" name="submit" style="width: 130px" />
  </div>
    <!-- </center> -->
    
  </form>
<!-- </div>  -->
      <section class="about" id="about">
        <div class="container">

          <figure class="about-banner">
            <img src="../images/about-banner-1.png" alt="House interior">
            <!-- <img src="../images/about-banner-2.jpg" alt="House interior" class="abs-img"> -->
          </figure>

          <div class="about-content">

            <p class="section-subtitle">About Us</p>

            <h2 class="h2 section-title">The Leading Real Estate Rental Marketplace.</h2>

            <p class="about-text">
              Whether you're looking to buy, sell, or rent a house, flat, or apartment, our expert team and advanced technology make the process easy and efficient. Discover a better way to find your dream home with us.
            </p>

            <ul class="about-list">

              <li class="about-item">
                <div class="about-item-icon">
                  <ion-icon name="home-outline"></ion-icon>
                </div>

                <p class="about-item-text">Smart Home Design</p>
              </li>

              <li class="about-item">
                <div class="about-item-icon">
                  <ion-icon name="leaf-outline"></ion-icon>
                </div>

                <p class="about-item-text">Beautiful Scene Around</p>
              </li>

              <li class="about-item">
                <div class="about-item-icon">
                  <ion-icon name="wine-outline"></ion-icon>
                </div>

                <p class="about-item-text">Exceptional Lifestyle</p>
              </li>

              <li class="about-item">
                <div class="about-item-icon">
                  <ion-icon name="shield-checkmark-outline"></ion-icon>
                </div>

                <p class="about-item-text">Complete 24/7 Security</p>
              </li>

            </ul>

            <p class="callout">
              "Unlock a world of possibilities for your housing needs with our one-stop platform for buying, selling, renting and finding your dream home."
            </p>

            <a href="#service" class="btn-home">Our Services</a>

          </div>

        </div>
      </section>
      




      <!-- 
        - #SERVICE
      -->

      <section class="service" id="service">
        <div class="container">

          <p class="section-subtitle">Our Services</p>

          <h2 class="h2 section-title">Our Main Focus</h2>

          <ul class="service-list">

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="../images/service-1.png" alt="Service icon">
                </div>

                <h3 class="h3 card-title">
                  <a href="/flats">Buy a home</a>
                </h3>

                <p class="card-text">
                  over 1 million+ homes for sale available on the website, we can match you with a house you will want
                  to call home.
                </p>

                <a href="/flats" class="card-link">
                  <span>Find A Home</span>

                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </a>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="../images/service-2.png" alt="Service icon">
                </div>

                <h3 class="h3 card-title">
                  <a href="/rent">Rent a home</a>
                </h3>

                <p class="card-text">
                  over 1 million+ homes for sale available on the website, we can match you with a house you will want
                  to call home.
                </p>

                <a href="/rent" class="card-link">
                  <span>Find A Home</span>

                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </a>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="../images/service-3.png" alt="Service icon">
                </div>

                <h3 class="h3 card-title">
                  <a href="/sell">Sell a home</a>
                </h3>

                <p class="card-text">
                  over 1 million+ homes for sale available on the website, we can match you with a house you will want
                  to call home.
                </p>

                <a href="/sell" class="card-link">
                  <span>Find A Home</span>

                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </a>

              </div>
            </li>

          </ul>

        </div>
      </section>




    


<!-- Testimonials Section -->
<!-- <center><u><h1 class="container" style="font-weight: bolder;">TESTIMONIALS</h1></u></center>
    <hr>
    <center> -->
        <section id="testimonials">
            <div id="testimonial-carousel" class="carousel slide" data-bs-ride="false">
              <div class="carousel-inner">
                <% for (let i = 0; i < x.length; i++) { %>
                  <% if (i === 0) { %>
                <div class="carousel-item active">
                  
            <h2 class="testimonial-text"><%=x[i].views%></h2>

            <center>
              <% if(x[i].gender === 'male'){ %>
              <img  class="testimonial-image" src="../images/testi_man.png" alt="dog-profile">
                <% }else if(x[i].gender === 'female') {%>
                  <img  class="testimonial-image" src="../images/testi_woman.png" alt="dog-profile">
                  <% }else { %>
                    <img  class="testimonial-image" src="../images/testi_lgbt.png" alt="dog-profile">
                    <% } %>
            </center>

            <em style="color: black;"><%= x[i].name %>, <%= x[i].loc %></em>
        
                </div>
                <% } else { %>
                <div class="carousel-item">
                  <h2 class="testimonial-text"><%= x[i].views %></h2>
                  <center>
                    <% if(x[i].gender === 'male'){ %>
                    <img  class="testimonial-image" src="../images/testi_man.png" alt="dog-profile">
                      <% }else if(x[i].gender === 'female') {%>
                        <img  class="testimonial-image" src="../images/testi_woman.png" alt="dog-profile">
                        <% }else { %>
                          <img  class="testimonial-image" src="../images/testi_lgbt.png" alt="dog-profile">
                          <% } %>
                  </center>
                  <em style="color: black;" ><%= x[i].name %>, <%= x[i].loc %></em>
        
                </div>
                <%}%>
                <%}%>
                
              </div>
            
              <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              
              </a>
              <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-bs-slide="next">
                <span style="color: black;" class="carousel-control-next-icon" aria-hidden="true"></span>
                
              </a>

            
            </div>
            <a href="/testimonial"><button style="margin-bottom: 40px;" type="button" class="btn btn-dark">Add Yours</button></a>
          </section>

































      <!-- Contact us section -->

 <section id ="Contact_us_section" style="background-color: hsl(0, 0%, 93%);;" class="py-5 background1">
  <div class = "container">
    <h2 class="h2 section-title">Contact us</h3>
      <!-- <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
</script>
<script type="text/javascript">
   (function(){
      emailjs.init("YOUR_PUBLIC_KEY");
   })();
</script> -->
    <div class ="row">
    <div class="col-md-12">

      <form action= "https://formsubmit.co/f6373408e8ecd954e1a7553823ad3912" method="POST">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="h3 card-title">Your Email address</label>
          <input name = "email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="contactNumberField" class="h3 card-label">Your Contact number</label>
          <input name="phone" type="number" class="form-control" id="contactNumberField">
        </div>

        <div class="mb-3">
          <label for="QueryField" class="h3 card-label">Your Query</label>
          <textarea name="query" style="height: 150px;" class="form-control" placeholder="Enter your query here" id="QueryField"></textarea>

        </div>
        <div  class = "container text-center">
        <button type="submit" class="btn btn-dark">Submit</button>
        <!-- </div> -->
        </div>
      </form>


      <!-- <script>
        const form = useRef();
       const sendEmail = (e) => {
         e.preventDefault();
          emailjs.sendForm('service_z1sawkh', 'template_9t9pkqc', form.current, 'a2e3HA2VbH4dJLZ9z').then((result) => 
          {
             console.log(result.text);
             
             console.log("message sent"); 
             alert("Message sent Successfully"); 
            }, (error) => { console.log(error.text); }); };
      </script>
      <div class='container my-5 pt-5'>
        <div classNmae="container my-5 pt-5">
            <h2><strong>Contact Us</strong></h2>
        </div>
        <div class='container text-center mt-4 p-4'>
            <p><strong>Do you see anything you would like to be improved? Or maybe you have a functionality in mind you would like to see? Enter it in the suggestion box below. <br/>Thank you</strong></p>
        </div>
        <div class='container mt-1 mb-5 pb-5' >
            <form class="mt-5" ref={form} onSubmit={sendEmail}>
                <div class="mb-3 text-start mt-5">
                    <label for="name" class="form-label"><strong>Name</strong></label>
                    <input type="text" name="user_name" class="form-control" placeholder="Enter your name"  required/>
                </div>
                <div class="mb-3 text-start">
                    <label for="email address" class="form-label" ><strong>Email Address</strong></label>
                    <input type="email" name="user_email" class="form-control" placeholder="Enter your email address"  required/>
                </div>
                <div class="mb-3 text-start">
                    <label for="message" class="form-label" ><strong>Message</strong></label>
                    <textarea name="message" class="form-control" placeholder="Enter your message" required></textarea>
                </div>
                <div class="mb-2 mt-5">
                    <button type="submit" ><strong>Submit</strong></button>
                    <button type="reset"><strong>Reset</strong></button>
                </div>

            </form>
        </div>
    </div> -->



      








    </div>
  </div>
 </div>
 </section>

      <!-- 
        - #PROPERTY
      -->


      <!-- 
        - #BLOG
      -->

    



      <!-- 
        - #CTA
      -->
     
      <section class="cta">
        <div class="container">

          <div class="cta-card">
            <div class="card-content">
              <h2 class="h2 card-title">Looking for a dream home?</h2>
              <p class="card-text">We can help you realize your dream of a new home</p>
            </div>

            <a href="/flats"><button class="btn-home cta-btn">
              <span>Explore Properties</span>

              <ion-icon name="arrow-forward-outline"></ion-icon>
            </button></a>
          </div>

        </div>
      </section>

    </article>
  </main>

  <script>
    function sendEmail() 
{
    window.location = "mailto:btbtc20133_adhisa@banasthali.in";
}
  </script>


  <%- include("partials/footer"); -%> 




